*{
  justify-content: center;
  align-items: center;
}


.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

input[type='text'] {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

ul{
  padding-top: 5%;
  padding-left: 8%;
}

.done {
  text-decoration: line-through;
  color: #888;
}
